<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Prueba M5 </title>
    <h1 style="text-align: center;">Gabriel Grobier </h1>
    <header style="text-align: center;">Prueba Gabriel Grobier Modulo 5 Desafio 01 </header>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus aut ea enim, dolorum, animi voluptas deleniti cumque quaerat, qui magnam atque iusto dignissimos corrupti culpa non nemo aspernatur ab veniam!</p>
</head>
<body>
    
</body>
</html>